.inner {
    max-width: calc(var(--body-max-width) + (var(--s32) * 2));
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--s32);
    padding-right: var(--s32);
    @media (max-width: 37.5rem) {
        max-width: calc(var(--body-max-width) + (var(--s24) * 2));
        padding-left: var(--s24);
        padding-right: var(--s24);
    }
}
