/*
Breakpoints:
xxs = 360px
xs = 420px
sm = 640px
md = 900px
lg = 1280px
xl = 1440px
xxl = 1600px
*/
.grid {
    display: grid;
}
.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}
.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
}
.grid-cols-8 {
    grid-template-columns: repeat(8, 1fr);
}
.grid-cols-9 {
    grid-template-columns: repeat(9, 1fr);
}
.grid-cols-10 {
    grid-template-columns: repeat(10, 1fr);
}
.grid-cols-11 {
    grid-template-columns: repeat(11, 1fr);
}
.grid-cols-12 {
    grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 1600px) {
    .xxl\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .xxl\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .xxl\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .xxl\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .xxl\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .xxl\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .xxl\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .xxl\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .xxl\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .xxl\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .xxl\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .xxl\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media (max-width: 1440px) {
    .xl\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .xl\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .xl\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .xl\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .xl\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .xl\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .xl\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .xl\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .xl\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .xl\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .xl\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media (max-width: 1280px) {
    .lg\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .lg\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .lg\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .lg\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .lg\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .lg\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .lg\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .lg\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media (max-width: 900px) {
    .md\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .md\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .md\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .md\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .md\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .md\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .md\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .md\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .md\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media (max-width: 640px) {
    .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .sm\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .sm\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .sm\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .sm\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .sm\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .sm\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .sm\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .sm\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .sm\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media (max-width: 420px) {
    .xs\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .xs\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .xs\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .xs\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .xs\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .xs\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .xs\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .xs\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .xs\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .xs\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .xs\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .xs\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
@media (max-width: 360px) {
    .xxs\:grid-cols-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    .xxs\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .xxs\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .xxs\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .xxs\:grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .xxs\:grid-cols-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .xxs\:grid-cols-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .xxs\:grid-cols-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    .xxs\:grid-cols-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    .xxs\:grid-cols-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    .xxs\:grid-cols-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    .xxs\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}
