.button {
    font-size: var(--typography-scale-p);
    font-family: var(--typography-body-font);
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    padding: var(--size-2) var(--size-4);
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}
.button_primary {
    color: var(--buttons-primary-text-color);
    background-color: var(--buttons-primary-background-color);
    border-color: var(--buttons-primary-border-color);
}
.button_primary:hover {
    color: var(--buttons-primary-background-color);
    background-color: transparent;
}
.button_secondary {
    color: var(--buttons-secondary-text-color);
    background-color: var(--buttons-secondary-background-color);
    border-color: var(--buttons-secondary-border-color);
}
.button_secondary:hover {
    opacity: 0.8;
}
.button_tertiary {
    color: var(--buttons-tertiary-text-color);
    background-color: var(--buttons-tertiary-background-color);
    border-color: var(--buttons-tertiary-border-color);
}
.button_tertiary:hover {
    opacity: 0.8;
}