:root {

/******************************************************/
/* NEBULA CSS *****************************************/
/******************************************************/

/* Colors --------------------------------------------*/
--black: #000000;
--dark-gray: #777777;
--gray: #cccccc;
--light-gray: #eeeeee;
--white: #ffffff;
--primary: #4a90e2;
--secondary: #50e3c2;
--tertiary: #9013fe;
--color-transparent: transparent;

/* Sizes --------------------------------------------*/
--s4: 0.25rem;
--s8: 0.5rem;
--s12: 0.75rem;
--s16: 1rem;
--s20: 1.25rem;
--s24: 15rem;
--s28: 1.75rem;
--s32: 2rem;
--s48: 3rem;
--s64: 4rem;
--s96: 6rem;
--s128: 8rem;
--s160: 10rem;
--s208: 13rem;
--s256: 16rem;
--s320: 20rem;

/* Typography --------------------------------------------*/
--h1-size: 3rem;
--h2-size: 2.5rem;
--h3-size: 2rem;
--h4-size: 1.5rem;
--h5-size: 1.25rem;
--h6-size: 1rem;
--p-size: 1rem;
--m-size: 1rem;
--s-size: 0.75rem;

--heading-font: Arial, Helvetica, sans-serif;
--body-font: Arial, Helvetica, sans-serif;

--h1-weight: 600;
--h1-line-height: 1.2;
--h2-weight: 600;
--h2-line-height: 1.2;
--h3-weight: 600;
--h3-line-height: 1.2;
--h4-weight: 600;
--h4-line-height: 1.2;
--h5-weight: 600;
--h5-line-height: 1.2;
--h6-weight: 600;
--h6-line-height: 1.2;
--p-weight: 400;
--p-line-height: 1.6;
--m-weight: 400;
--m-line-height: 1.6;
--s-weight: 400;
--s-line-height: 1.6;

/* Borders --------------------------------------------*/
--border-color: var(--gray);
--border-width: 1px;
--border-radius: 0rem;
--border-style: solid;
--border: var(--border-width) var(--border-style) var(--border-color);

/* Miscellaneous --------------------------------------------*/
--trans-duration : 0.3s;
--trans-timing-function: ease-in-out;
--trans: var(--trans-duration) var(--trans-timing-function);
--trans-bounce: var(--trans-duration) cubic-bezier(0.44, 0.01, 0.22, 1.8);

/* Breakpoints --------------------------------------------*/
--xxs: 360px;
--xs: 420px;
--sm: 640px;
--md: 900px;
--lg: 1280px;
--xl: 1440px;
--xxl: 1600px;

/******************************************************/
/* END NEBULA CSS *************************************/
/******************************************************/

}
